@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #1d201d;
	color: white;
	font-family: 'Roboto', sans-serif;
}

nav {
	position: fixed;
	background-image: linear-gradient(to right, #00000000, #000000dd, #000000dd, #00000000);
	top: 20px;
	left: 50%;
	width: 300px;
	height: 40px;
	transform: translateX(-50%);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	all: unset;
	display: flex;
	gap: 10px;
}

nav ul li {
	all: unset;
	display: inline-block;
	width: 20px;
	background-color: #558755;
	font-weight: bold;
	color: transparent;
	border-radius: 50%;
	padding: 3px;
	overflow: hidden;
	transition: all 0.3s;
	text-align: center;
}

nav ul li:hover, nav ul li.active {
	color: white;
	border-radius: 15px;
	width: 100px;
	cursor: pointer;
}

#top {
	display: flex;
	height: 70vh;
	align-items: center;
	justify-content: center;
}

.container {
	width: 800px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #00000055;
	background-color: #333;
	display: flex;
	justify-content: space-between;
}

.landing--container {
	position: relative;
}

.landing--heading--container {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-grow: 1;
	align-self: center;
	height: 100%
}

.landing--heading--name {
	font-weight: bold;
	font-size: 5rem;
	margin-bottom: -10px;
}

.landing--heading--title {
	font-weight: 200;
	font-size: 2rem;
}

.landing--heading--subtitle {
	margin-top: 10px;
	font-weight: 100;
}

.landing--picture--container {
	overflow: hidden;
	background-image: url('images/headshot.jpg');
	background-position: center;
	background-size: contain;
	height: 200px;
	width: 200px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.landing--rust {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 5px solid #558755;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	color: #558755;
	transform: translate(40%, 40%) rotate(-25deg);
	text-shadow: 5px 5px 5px #00000055;
}

#portfolio {
	background-color: #3d403d;
}

.portfolio--container {
	width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.portfolio-item--container {
	overflow: hidden;
	border-radius: 15px;
	background-color: #222;
	box-shadow: 5px 5px 5px #00000055;
	display: flex;
	border: 10px solid #222;
}

.portfolio-item--image {
	width: 335px;
	height: 335px;
	flex-shrink: 0;
	background-size: cover;
	border-radius: 15px;
}

.portfolio-item--info-wrapper {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.portfolio-item--info--title-wrapper {
	margin-bottom: 20px;
}

.portfolio-item--info--title {
	font-weight: bold;
	font-size: 3rem;
}

.portfolio-item--info--subtitle {
	font-weight: 100;
	font-size: 1.5rem;
	font-style: italic;
}

.portfolio-item--info--description {
	text-indent: 5rem;
}

.portfolio-item--info--technologies {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	margin-bottom: 10px;
}

.portfolio-item--info--technologies--pill {
	display: inline-block;
	background-color: #558755;
	color: black;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 15px;
	user-select: none;
}

.portfolio-item--info--links-wrapper {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}
 .portfolio-item--info--links-wrapper a {
	unset: all;
	font-weight: bold;
	letter-spacing: 3px;
	color: #88ba88;
	text-transform: uppercase;
	text-decoration: none;
}
